---
import { SiteAuthor, SiteBaseUrl, SiteDesc, SiteImageUrl, SiteName } from "@/lib/constant";
import "../styles/global.css";
import Navbar from "@/partials/Navbar/Navbar.astro";
import Footer from "@/partials/Footer.astro";

const {
	title = SiteName,
	description = SiteDesc,
	imageUrl = SiteImageUrl,
	path = ''
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />

		<link rel="icon" href="/favicon.ico" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />

		<meta name="author" content={SiteAuthor} />
		<meta name="description" content={description} />
		<meta property="og:site_name" content={title} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:locale" content="id_ID" />
		<meta property="og:locale:alternate" content="en_UK" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={SiteBaseUrl + path} />
		<meta property="og:image" content={imageUrl ? imageUrl : SiteImageUrl} />
		<meta property="og:image:secure_url" content={imageUrl ? imageUrl : SiteImageUrl} />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta property="og:image:alt" content={title} />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={imageUrl} />

		<title>{title}</title>
	</head>
	<body class="text-slate-700">
		<Navbar />
		<div class="min-h-[90vh]">
			<slot />
		</div>
		<Footer />
	</body>
</html>
